.container {
    max-width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.box {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.my-buttons {
    text-align: center;
    margin-top: 20px;
}

button[type="submit"],
button[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0056b3;
}

.partie {
    display: flex;
    justify-content: space-between;
}

.partie .container {
    flex: 1;
}
