body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 500px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;

    padding: 10px 20px;
    cursor: pointer;

    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

table {
    font-size: small;
}


.my-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lien{
    color: white;
    text-decoration: none;
}