<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}"> 

<footer class="footer">
    <table>
        <tr>
            <td align="left">Dimanche</td>
            <td>10h à 17h</td>
        </tr>
        <tr>
            <td align="left">Lundi</td>
            <td>8h à 17h</td>
        </tr>
        <tr>
            <td align="left">Mardi</td>
            <td>8h à 17h</td>
        </tr>
        <tr>
            <td align="left">Mercredi</td>
            <td>8h à 17h</td>
        </tr>
        <tr>
            <td align="left">Jeudi</td>
            <td>8h à 17h</td>
        </tr>
        <tr>
            <td align="left">Vendredi</td>
            <td>8h à 17h</td>
        </tr>
        <tr>
            <td align="left">Samedi</td>
            <td>8h à 17h</td>
        </tr>
    </table>
</footer>