<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</head>

<body>
    {% include 'header.html' %}

    <div class="container">
        <h2>Inscription</h2>
        <form id="inscription-form">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmer le mot de passe</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>

            <div class="my-buttons">
                <button >
                    Créer le compte
                </button>
                - ou -
                <button>
                   <a class="lien" href="{{ url_for('connection') }}">Se connecter</a>
                </button>
            </div>
        </form>
    </div>

    {% include 'footer.html' %}


</body>

</html>